doctype 5
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name='keywords', content='ski, snowboard, videos, extreme, snow, alpine, park, bluebird, powder')
    title= title
    link(rel='stylesheet', href='/stylesheets/foundation.css')
    link(rel='stylesheet', href='/stylesheets/stylesheet.css')
  body
    header.main-header-admin
      div.eleven.columns.centered
        div.three.columns
          a.no-decoration(href='/')
            h1= title
        div.eight.columns
          ul
            li.menu-items(title='Videos')
              a(href='/admin/videos')="Videos"
            li.menu-items(title='Series')
              a(href='/admin/series')="Series"
            li.menu-items(title='Users')
              a(href='/admin/users')="Users"
            if user == null
              li.menu-items.float-right(title='Log In')
                a(href='/admin/login')="Log in"
            else
              li.menu-items.float-right(title='Log Out')
                a(href='/admin/logout')="Log out"
    div.eleven.columns.centered
      section.main-body
        block content
    script(src="/javascripts/jquery.js")
    script(src="/javascripts/foundation.min.js")
    script(src="/javascripts/admin.js")
