extends adminlayout

block content
  div.row="&nbsp;"
  div.eleven.columns.centered.pale.restore-block
    div.row="&nbsp;"
    table.twelve.record
      tr
        th.five="Title"
        th.four="Url"
        th.two="Category"
        th.one
          a.icon-plus-alt(href="/admin/articles/0")="&nbsp;"
      for article in articles
        tr
          td= article.title
          td
            a(href= article.url, target="prev_link")= article.url
          td= article.category
          td
            a.icon-pen(href="/admin/articles/" + article._id)="&nbsp;"
            a.icon-minus-alt.float-right(href="#", id= article._id, data-element="articles")="&nbsp;"
