extends adminlayout

block content
  div.row="&nbsp;"
  div.eleven.columns.centered.pale.restore-block
    h3.three.columns=title
    div.nine.columns(style="line-height: 37px; margin-top: 14px;")
      form.twelve.columns.pale.restore-block(action="/admin/videos/0", method="post", style="margin: 0;")
        span.one.columns
          label(for="url", class="form-label")="Url:"
        span.nine.columns
          input(type="text", name="url")
        span.two.columns
          input.button(type="submit", name="save", value="Save", style="height: 32px;")
    table.twelve.record
      tr
        th.four="Title"
        th.two="Url"
        th.two="Provider"
        th.three="Author"
        th.one
      for video in videos
        tr
          td= video.title
          td
            a(href= video.video_url, target="prev_link")= video.video_url
          td
            a(href= video.provider_url, target="prev_link")= video.provider_name
          td
            a(href= video.author_url, target="prev_link")= video.author_name
          td
            a.icon-pen(href="/admin/videos/" + video._id)
            a.icon-minus-alt.float-right(href="#", id= video._id)
