extends adminlayout

block content
  div.row="&nbsp;"
  div.eleven.columns.centered.pale.restore-block
    div.twelve.columns(style="line-height: 37px; margin-top: 14px;")
      form.twelve.columns.pale.restore-block.custom(action="/admin/videos/0", method="post", style="margin: 0;")
        span.four.columns
          input(type="text", name="video[url]", placeholder="url")
        span.three.columns
          select.custom.medium(name="video[category]")
            option(value="")="Select one"
            for category in categories
              option(value= category.id)= category.name
        span.three.columns
          select.custom.medium(name="video[serie]")
            option(value="")="None"
            for serie in series
              option(value= serie._id)= serie.name
        span.two.columns(style="width: 12%;")
          input.button(type="submit", name="save", value="Save", style="height: 32px;")
    table.twelve.record
      tr
        th.four="Title"
        th.three="Url"
        th.two="Provider"
        th.two="Author"
        th.one
      for video in videos
        tr
          td= video.title
          td
            a(href= video.video_url, target="prev_link")= video.video_url
          td
            a(href= video.provider_url, target="prev_link")= video.provider_name
          td
            a(href= video.author_url, target="prev_link")= video.author_name
          td
            a.icon-pen(href="/admin/videos/" + video._id)
            a.icon-minus-alt.float-right(href="#", id= video._id, data-element="videos")
