extends adminlayout

block content
  div.row="&nbsp;"
  div.eleven.columns.centered.pale.restore-block
    h3=title
    table.twelve.record
      tr
        th.two="Url"
        th.two="Provider"
        th.four="Title"
        th.three="Author"
        th.one.icon-plus-alt.actionable
      tr
        td="098900"
        td="Vimeo"
        td="Jumping hide"
        td="Hernan Garcia"
        td
          span.icon-pen.actionable
          span.icon-minus-alt.float-right.actionable
